body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #efeff5;
}
a{
    text-decoration: none !important;
}
.kt-aside__primary {
    width: 70px;
    height: 980px;
    position: fixed;
    background-color: #f2e649;
}

.kt-aside__primary .kt-aside__middle {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.kt-aside__primary .kt-aside__top {
    text-align: center;
}
a.kt-aside__nav-link:hover {
    background: #eb5c2b;
    transition: all 0.3s ease;
}
.kt-aside__nav-link:hover > i{
    color: #ffffff !important;
}

.kt-aside__primary .kt-aside__middle .kt-aside__nav .kt-aside__nav-item .kt-aside__nav-link.active {
    background-color: #eb5c2b;
    color: #ffffff !important;
}
.kt-aside__nav-link.active > i{
    color: #ffffff !important;
}

.kt-aside__primary .kt-aside__middle .kt-aside__nav,
.kt-aside__primary .kt-aside__bottom .kt-aside__nav {
    padding: 0px;
}

.kt-aside__primary .kt-aside__middle .kt-aside__nav .kt-aside__nav-item,
.kt-aside__primary .kt-aside__bottom .kt-aside__nav .kt-aside__nav-item {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 0.3rem;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.kt-aside__primary .kt-aside__middle .kt-aside__nav .kt-aside__nav-item .kt-aside__nav-link {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}


.kt-aside__primary .kt-aside__middle .kt-aside__nav .kt-aside__nav-item .kt-aside__nav-link i {
    font-size: 1.3rem;
    color: #383838;
    font-weight: 500;
}
.kt-aside__primary .kt-aside__bottom .kt-aside__nav .kt-aside__nav-item .kt-aside__nav-link {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.kt-aside__primary .kt-aside__bottom .kt-aside__nav .kt-aside__nav-item {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.dropdown{
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transform: translate3d(54px, -93px, 0px);
    will-change: transform;
}
.kt-nav {
    display: block;
    padding: .5rem 0;
    margin: 0;
    list-style: none;
    border: 0;
}
.kt-margin-b-10 {
margin-bottom: 10px!important;
}
.kt-margin-t-10 {
    margin-top: 10px!important;
}

.kt-nav .kt-nav__item {
    display: block;
}

.kt-nav .kt-nav__item >.kt-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .55rem 1.75rem;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}

.kt-nav .kt-nav__item >.kt-nav__link .kt-nav__link-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    font-size: 1.25rem;
    line-height: 0;
    color: #a2a5b9;
}
.kt-nav .kt-nav__item >.kt-nav__link .kt-nav__link-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1rem;
    color: #595d6e;
    font-weight: 400;
}

.kt-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    -webkit-box-shadow: 0 0 28px 0 rgba(68,94,167,.13);
    box-shadow: 0 0 28px 0 rgba(68,94,167,.13);
    width: 330px;
}




.articulos{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: auto;
    background: #fff;
}
.oculto{
    position: absolute;
    transform: translate(-14px, -32px);
    opacity: 0;
}



.set-full{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/home-office-336373.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ct1{
    position: absolute;
    width: 100%;
    transform: translate(-50px, 200px);
}

.footer.text-center > button {
    margin: auto;
}
.footer.text-center > input {
    margin: auto;
}

.center{
    margin: auto;
}
.check-grup{
    display: flow-root;
}
